<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<a th:href="@{/employee/create}">Add new employee</a>
<form action="#" th:action="@{/employee/search}" method="get">
    <input type="text" name="s" >
    <input type="submit" value="Search">
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contact,iterStat : ${employees}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${contact.name}"></td>
                <td th:text="${contact.phone}"></td>
                <td><a th:href="@{/employee/{id}/edit(id=${contact.id})}">Edit</a></td>
                <td><a th:href="@{/employee/{id}/delete(id=${contact.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>